.h1-tech{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #0D0D34;
}

.tech-page{
    background: whitesmoke;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}