*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logoes{
    color: white;
    cursor: pointer;
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0D0D34;
}

.red-text {
    color: red;
}

.white-text {
    color: white;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
    transition: .3s;
}

.log-nav{
    border: none;
    background: #fb2f38;
    padding: 9px 25px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 20px;
}

.log-nav a{
    color: white;
    text-decoration: none;
}

.log-nav:hover{
    transform: scale(1.1);
    cursor: pointer;
}