.enumerate{
    color: white;
    background: #0D0D34 ;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.enumerate-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.enumerate-container .enumerate-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #0D0D34;
    overflow: hidden;
    display: flex;
}

.enumerate-box img{
    width: 100%;
    filter: brightness(70%);
    transition: .5s ease;
}

.enumerate-box img:hover{
    transform: scale(1.1);
}

.enumerate-box .enumerate-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.enumerate-box:hover .enumerate-layer{
    transform: translateY(0);
}

.enumerate-layer h4{
    font-size: 1.6rem;
}

.enumerate-layer p{
    font-size: 1rem;
    margin: .3rem 0 1rem;
}

.enumerate-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
} 
 
